extends layout.pug

block content
	h1=title
	h3.alert-warning=message
	h4 Examples of project codes : "ADV", "ASS", "EBEN", "EXP", "GRD", "PORT", "SF", "TP"
	p note: the project code is case-sensitive
		form(method="POST" action="/search_project")
			if error
				p.text-danger Something goes wrong!!
			label(for="inputText") Project Code
				input(type='text' name='project_id' id='project_id' placeholder='TP' required autofocus)
			button(type="submit") Search!
