body {
  color: rgba(26, 26, 26, .7);
  font-family: 'Lora', serif;
  margin: 0;
}

footer {
  background-color: rgb(31, 31, 31);
  color: rgba(255, 255, 255, .8);
  padding: 1.5em;
  text-align: center;
}

footer p {
  color: rgba(255, 255, 255, .4);
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:active, a:visited{
  color: white;
}

#links a {
  margin: 0.9375em;
}

.alert-warning{
	border: 0.0625em solid rgba(246,187,4,.9);
}

.error{
	background-color:rgba(212,107,0,.2);
}
main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom:  6.25em;
  border: 0.0625em solid rgba(0, 0, 0, 0.2);
  padding: 0.625em;
  width: 80%;
}

main h1 {
  font-size: 1.75em;
  font-weight: normal;
  color: rgba(26,26,26,.9);
}

p.results {
  font-size:0.8em;
  color: rgba(0,0,238, 0.7);
}
main table{
  border: 0.0625em solid rgba(204,204,204, 0.8);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

main table tr {
  background-color: rgba(248,248,248, 0.6);
  border: 0.0625em solid rgba(221,221,221, 0.5);
  padding: .35em;
}

main table th,
table td {
  padding: .625em;
  text-align: center;
}

main table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

form {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  z-index: 1;
  background: rgb(253,253,253);
  max-width: 22.25em;
  margin: 0 auto 6.25em;
  padding: 0.9375em;
  text-align: center;
  border: 0.0625em solid rgba(0, 0, 0, 0.2);
}
form input {
  outline: 0;
  background: rgb(242,242,242);
  width: 100%;
  border: 0;
  margin: 0 0 1em;
  padding: 1em;
  box-sizing: border-box;
  font-size: 0.875em;
}
form label{
  font-size: 0.9375em;
}
form button {
  text-transform: uppercase;
  outline: 0;
  background: rgb(54, 179, 168);
  width: 100%;
  border: 0;
  padding: 1em;
  margin-top:0.3125em;
  color:  rgb(253,253,253);
  font-size: 0.875em;
  cursor: pointer;
}
form button:active,.form button:focus {
  background: rgba(54, 179, 168,0.5);
}

